<div class="form-container">
  <%= form_with(model: comentario, local: true) do |form| %>
    <% if comentario.errors.any? %>
      <div class="error-messages">
        <h2><%= pluralize(comentario.errors.count, "error") %> prohibited this comentario from being saved:</h2>
        <ul>
          <% comentario.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :contenido, style: "display: block" %>
      <%= form.text_area :contenido, class: "form-control", rows: 4 %>
    </div>

    <div class="form-group">
      <%= form.label :usuario_id, style: "display: block" %>
      <%= form.text_field :usuario_id, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :articulo_id, style: "display: block" %>
      <%= form.text_field :articulo_id, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.submit "Crear Comentario", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

