<p style="color: green"><%= notice %></p>

<% content_for :title, "Comentarios" %>

<h1 style="text-align: center;">Comentarios</h1>

<!-- Botón para volver a la página principal -->
<div class="back-button-container">
  <%= link_to "Volver a Inicio", root_path, class: "btn btn-back" %>
</div>

<div class="comentarios-container">
  <div id="comentarios">
    <% @comentarios.each do |comentario| %>
      <div class="comentario-item">
        <%= render comentario %>
        <p>
          <%= link_to "Mostrar este comentario", comentario, class: "btn btn-link" %>
        </p>
      </div>
    <% end %>
  </div>
  <%= link_to "Nuevo comentario", new_comentario_path, class: "btn-new btn-primary" %>
</div>

