<p style="color: green"><%= notice %></p>

<%= render @comentario %>

<div>
  <%= link_to "Editar este comentario", edit_comentario_path(@comentario), class: "btn-new btn-link" %> |
  <%= link_to "Volver a comentarios", comentarios_path, class: "btn-new btn-link" %>
  </br></br>
  <%= button_to "Destruir este comentario", @comentario, method: :delete, class: "btn btn-link" %>
</div>
