<div class="form-container">
  <%= form_with(model: categorium, local: true) do |form| %>
    <% if categorium.errors.any? %>
      <div class="error-messages">
        <h2><%= pluralize(categorium.errors.count, "error") %> prohibited this categorium from being saved:</h2>
        <ul>
          <% categorium.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :nombre, style: "display: block" %>
      <%= form.text_field :nombre, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :descripcion, style: "display: block" %>
      <%= form.text_area :descripcion, class: "form-control", rows: 4 %>
    </div>

    <div class="form-group">
      <%= form.submit "Crear Categoría", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

