<p style="color: green"><%= notice %></p>

<% content_for :title, "Categoría" %>

<h1 style="text-align: center;">Categoría</h1>

<!-- Botón para volver a la página principal -->
<div class="back-button-container">
  <%= link_to "Volver a Inicio", root_path, class: "btn btn-back" %>
</div>


<div class="categorias-container">
  <div id="categoria">
    <% @categoria.each do |categorium| %>
      <div class="categorium-item">
        <%= render categorium %>
        <p>
          <%= link_to "Mostrar esta categoría", categorium, class: "btn btn-link" %>
        </p>
      </div>
    <% end %>
  </div>
  <%= link_to "Nueva categoría", new_categorium_path, class: "btn-new btn-primary" %>
</div>

