<p style="color: green"><%= notice %></p>

<%= render @categorium %>

<div>
  <%= link_to "Editar esta categoría", edit_categorium_path(@categorium), class: "btn-new btn-primary" %> |
  <%= link_to "Volver a la categoría", categoria_path, class: "btn-new btn-primary" %>
  </br></br>

  <%= button_to "Destruir esta categoria", @categorium, method: :delete, class: "btn btn-primary" %>
</div>
