<p style="color: green"><%= notice %></p>

<% content_for :title, "Usuarios" %>

<h1 style="text-align: center;">Usuarios</h1>

<!-- Botón para volver a la página principal -->
<div class="back-button-container">
  <%= link_to "Volver a Inicio", root_path, class: "btn btn-back" %>
</div>

<div class="usuarios-container">
  <div id="usuarios">
    <% @usuarios.each do |usuario| %>
      <div class="usuario-item">
        <%= render usuario %>
        <p>
          <%= link_to "Mostrar este usuario", usuario, class: "btn btn-link" %>
        </p>
      </div>
    <% end %>
  </div>
  <%= link_to "Nuevo Usuario", new_usuario_path, class: "btn-new btn-primary" %>
</div>

