<p style="color: green"><%= notice %></p>

<%= render @usuario %>

<div>
  <%= link_to "Editar este usuario", edit_usuario_path(@usuario), class: "btn-new btn-primary" %> |
  <%= link_to "Volver a usuarios", usuarios_path, class: "btn-new btn-primary" %>
  </br></br>
  <%= button_to "Destruir este usuario", @usuario, method: :delete, class: "btn btn-link" %>
</div>
