<div id="<%= dom_id articulo %>" class="usuario-info-container">
  <table class="usuario-info-table">
    <tr>
      <th>ID</th>
      <td><%= articulo.id %></td>
    </tr>
    <tr>
      <th>Título</th>
      <td><%= articulo.titulo %></td>
    </tr>
    <tr>
      <th>Contenido</th>
      <td><%= articulo.contenido %></td>
    </tr>
    <tr>
      <th>Usuario</th>
      <td><%= articulo.usuario.nombre %></td>
    </tr>
  </table>
</div>
