<p style="color: green"><%= notice %></p>

<%= render @articulo %>

<div>
  <%= link_to "Editar este articulo", edit_articulo_path(@articulo), class: "btn-new btn-primary" %> |
  <%= link_to "Volver a articulos", articulos_path, class: "btn-new btn-primary" %>
   </br></br>
  <%= button_to "Destruir este articulo", @articulo, method: :delete, class: "btn btn-primary" %>
</div>
